html, body{
    margin: 0; /*margen para que no perjudique en el navegador*/
    background-color: #2f4f30;
    color: white;
}

.titulo{
    text-align: center;  /*para centrar los textos*/
    background-color: #000;
    color: #fff;
    font-size: 25px;
    padding: 20px; /*espacio a los lados o al rededor*/
}

.carta {
    width: 150px; /*el tamano de la carta*/
    position: relative;/*mover donde queramos*/
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas,#computadora-cartas {
    height: 240px;
}
